.paragraph {
  height: 180px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--font-family);
}

.paragraph h1{
  padding-top: 36px;
  padding-bottom: 8px;
  text-align: center;

}
