/* component.css */
.game-over-screen {
  text-align: center;
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.final-score {
  padding-bottom: 15px;
}
