.work-experience,
.hackathon-experience {
  height: 35vh;
}

.hackathon-experience {
  display: flex;
}

.hackathon-experience > div {
  margin: 30px;
}

.hackathon-description li {
  margin-bottom: 10px;
}

.module-header {
  height: 15vh;
  padding-left: 40px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  background: #705478;
}

.module-section {
  display: flex;
  height: 600vh;
}

.left,
.right {
  width: 50%;
}

.left {
  font-size: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ee9ca7, #ffdde1);
}

.title {
  height: 100vh;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 48px;
}

.course-description {
  font-size: 24px;
  width: 80%;
  line-height: 30px;
}

.title:nth-child(1) {
  background: linear-gradient(to top, #a3aab7, #4286f4);
}
.title:nth-child(2) {
  background: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
}

.title:nth-child(3) {
  background: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
}

.title:nth-child(4) {
  background: linear-gradient(to bottom, #3e5151, #decba4);
}
.title:nth-child(5) {
  background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
}

.title:nth-child(6) {
  background: linear-gradient(to bottom, #654ea3, #eaafc8);
}

.course-footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #705478;
}

.course-footer > p {
  width: 90%;
  font-size: 20px;
}

.course-name {
  display: none;
}

.left.course-0 .course-0,
.left.course-1 .course-1,
.left.course-2 .course-2,
.left.course-3 .course-3,
.left.course-4 .course-4,
.left.course-5 .course-5 {
  display: block;
}
