.work-experience-header {
  height: 12vh;
  padding-left: 40px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  background: #705478;
}

.work-experience {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.experience-container {
  flex: 1;
  display: block;
  padding: 0 3%;
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-container.flex-start:hover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
}

.experience-container.flex-end:hover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
}

.experience-container:hover .work-description {
  display: block;
}

.work-description {
  position: relative;
  display: none;
}

.work-experience h1 {
  font-size: 6vh;
}

.work-experience h3 {
  font-size: 4vh;
}

.work-experience ul {
  font-size: 1.7vh;
}

.work-description li {
  margin-bottom: 6px;
}

.divider {
  border: none;
  border-top: 1px solid white;
  width: 96%;
  margin: 0 auto;
}

.hackathon-experience {
  display: flex;
}

.hackathon-experience > div {
  margin: 30px;
}

.hackathon-description li {
  margin-bottom: 10px;
}

.module-header {
  height: 12vh;
  padding-left: 40px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  background: #705478;
}

.module-section {
  display: flex;
  height: 600vh;
}

.left,
.right {
  width: 50%;
}

.left {
  font-size: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 100%, 50%, 1);
  background-color: #99c2ff;
  background-image: radial-gradient(
      at 90% 34%,
      hsla(136, 83%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 20% 69%, hsla(170, 99%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 65%, hsla(253, 95%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 59% 67%, hsla(321, 94%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 48% 7%, hsla(214, 80%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 11%, hsla(347, 95%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 48%, hsla(225, 85%, 75%, 1) 0px, transparent 50%);
}

.title {
  height: 100vh;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 48px;
}

.course-description {
  font-size: 24px;
  width: 80%;
  line-height: 30px;
}

.title:nth-child(1) {
  background: linear-gradient(to bottom, #7f7fd5, #86a8e7, #91eae4);
}
.title:nth-child(2) {
  background: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
}

.title:nth-child(3) {
  background: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
}

.title:nth-child(4) {
  background: linear-gradient(to bottom, #1f4037, #99f2c8);
}
.title:nth-child(5) {
  background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
}

.title:nth-child(6) {
  background: linear-gradient(to bottom, #654ea3, #eaafc8);
}

.course-footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-footer > p {
  width: 90%;
  font-size: 20px;
}

.course-name {
  display: none;
}

.left.course-0 .course-0,
.left.course-1 .course-1,
.left.course-2 .course-2,
.left.course-3 .course-3,
.left.course-4 .course-4,
.left.course-5 .course-5 {
  display: block;
  justify-content: center;
  text-align: center;
}
