.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1000px;
  justify-content: center;
  align-items: center;
}

/* .container::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: linear-gradient(to top, #1c0522, transparent);
} */

#moon {
  mix-blend-mode: screen;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 20%;
  height: 20%;
  z-index: 3;
}

#star {
  mix-blend-mode: screen;
  width: 100%;
  height: 40%;
}

#mountains {
  height: 70%;
  width: 100%;
  z-index: 5;
}

#peak {
  z-index: 10;
}

#text {
  position: absolute;
  color: white;
  font-size: 7.5rem;
  z-index: 9;
}

.text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  z-index: 80;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.exp-section {
  position: relative;
  padding: 300px;
  background: #1c0522;
}

.exp-section h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.exp-section h3 {
  color: #fff;
}

.exp-section p {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
}
