.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1000px;
  justify-content: center;
  align-items: center;
}

#moon {
  /* Note: adjusting top value here will not work as it is being directly manipulated by javascript */
  mix-blend-mode: screen;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 20%;
  height: 20%;
  z-index: 3;
}

#star {
  width: 100%;
  height: 40%;
}

#mountains {
  height: 75%;
  width: 100%;
  z-index: 5;
}

#peak {
  z-index: 10;
}

#text {
  position: absolute;
  color: white;
  font-size: 7.5rem;
  z-index: 9;
}

.text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  z-index: 80;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  transition: text-shadow 0.5s ease;
}

.text:hover {
  text-shadow: 0 0 100px white;
}
