.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.score-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  height: 80px;
  font-family: var(--font-family);
}

.score-box > span:first-of-type {
  font-weight: bold;
  position: relative;
}

.score-box > .score,
.score-box > .time-left {
  font-size: 26px;
  position: relative;
}

.time-left-danger {
  color: red;
}

.large-score {
  position: absolute;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 200;
}

.animate {
  animation: fadeUp 2s forwards;
  color: greenyellow;
}

@keyframes fadeUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
