.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  font-family: var(--font-family);
}

.game-thumbnail {
  position: relative;
}

.game-thumbnail img {
  width: 100%;
  height: 100%;
}

.game-thumbnail-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 30px;
}

.game-thumbnail:hover .game-thumbnail-overlay {
  opacity: 1;
}
