.social-card {
  position: relative;
  height: 100px;
}

.icon-button,
.handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-button {
  left: calc(50% - 20px);
}

.handle {
  left: calc(50% + 20px);
}

.social-card:hover .icon-button,
.social-card:hover .handle {
  opacity: 1;
}
